project_name = "uptime-kuma"
environment  = "dev"
aws_region   = "us-east-1"
owner        = "ofek"

vpc_cidr = "10.0.0.0/16"

availability_zones = [
  "us-east-1a",
  "us-east-1b"
]

public_subnet_cidrs = [
  "10.0.1.0/24",
  "10.0.2.0/24"
]

private_app_subnet_cidrs = [
  "10.0.11.0/24",
  "10.0.12.0/24"
]

private_data_subnet_cidrs = [
  "10.0.21.0/24",
  "10.0.22.0/24"
]

# Cost optimized lab setup:
# Single NAT Gateway instead of one NAT Gateway per AZ.
enable_nat_gateway = true

# S3 Gateway Endpoint reduces NAT traffic for S3.
enable_s3_gateway_endpoint = true

# Uptime Kuma default application port
app_port = 3001

# PostgreSQL default port
database_port = 5432

# Public ALB access
# Lab setup: open to the internet.
# Production: restrict if possible, or use WAF.
allowed_http_cidr_blocks = [
  "0.0.0.0/0"
]

allowed_https_cidr_blocks = [
  "0.0.0.0/0"
]

# -------------------------
# EKS
# -------------------------

eks_cluster_version = "1.35"

# Lab setup:
# Public endpoint allows kubectl access from your local machine.
# Private endpoint allows internal VPC access.
eks_endpoint_public_access  = true
eks_endpoint_private_access = true

# Grants the IAM user/role running Terraform admin access to the cluster.
enable_cluster_creator_admin_permissions = true

# Cost-optimized but stable default node group.
# If resources are too tight, keep t3.medium.
# For aggressive cost saving, try t3.small.
eks_node_instance_types = [
  "t3.medium"
]

eks_node_capacity_type = "ON_DEMAND"

eks_node_min_size     = 1
eks_node_desired_size = 1
eks_node_max_size     = 2

eks_node_disk_size = 30

# Spot support is prepared but disabled for now.
enable_spot_node_group = false

eks_spot_instance_types = [
  "t3.medium",
  "t3a.medium"

eks_authentication_mode = "API_AND_CONFIG_MAP"  
]

# RDS
db_engine                  = "mariadb"
db_engine_version          = null
db_instance_class          = "db.t4g.micro"
db_allocated_storage       = 20
db_max_allocated_storage   = 50
db_name                    = "uptimekuma"
db_username                = "uptimekuma_admin"
db_port                    = 3306
db_multi_az                = false
db_backup_retention_period = 1
db_deletion_protection     = false